body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #181818;
    color: white;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #282828;
    box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.1);
}

.player img {
    width: 100%;
    border-radius: 10px;
}

.controls button {
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    background: none;
    border: none;
    color: white;
}

.controls button:hover {
    color: #1DB954;
}

#progress {
    width: 100%;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 10px;
    cursor: pointer;
    background: #333;
    margin: 5px 0;
    border-radius: 5px;
}

li:hover {
    background: #1DB954;
}
